/* Biografia */
    #Imagen-Biografia01,
    #Imagen-Biografia02,
    #Imagen-Biografia03
    {
        max-width: 60%;
        /* Establece el ancho máximo al 100% del contenedor padre */
        height: auto;
        /* Mantiene la proporción de aspecto */
        display: block;
        /* Hace que la imagen sea un bloque para centrarla horizontalmente */
        margin: auto;
        /* Centra la imagen horizontalmente */

    }

/* Mobile */
@media (max-width: 375px) and (max-height: 428px) {

    #Imagen-Biografia01,
    #Imagen-Biografia02,
    #Imagen-Biografia03
    {
        max-width: 90%;
        /* Establece el ancho máximo al 100% del contenedor padre */
     

    }
    }

/* Tablet */
@media (max-width: 768px) and (max-height: 1000px) {
    #Imagen-Biografia01,
    #Imagen-Biografia02,
    #Imagen-Biografia03
    {
        max-width: 90%;
        /* Establece el ancho máximo al 100% del contenedor padre */
      

    }
}