/* Estilo Discografia */
.Discografia {
    display: flex;
    justify-content: space-between;
    /* Distribuye las listas de reproducción de manera uniforme */
}

.playlist {
    width: 45%;
    /* Establece el ancho de cada lista de reproducción */
    margin: 10px;
    /* Añade un pequeño margen entre las listas de reproducción */
}

/* Mobile */
@media (max-width: 375px) and (max-height: 428px) {

    .Discografia {
        display: flex;
        flex-direction: column;
    }

    .playlist {
        width: 100%;
    }
}
/* Tablet */
@media (max-width: 768px) and (max-height: 1000px) {
    

    .Discografia {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    
    }

    .playlist {
        width: 50%;
    }
}