/* index main*/
.Portada-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
// parrafo del index
.parrafoindex{
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
// animacion index
.animate__bounceIn {
    -webkit-animation-duration: auto;
    animation-duration: .75s;
    -webkit-animation-duration: calc(var(--animate-duration)* 0.75);
    animation-duration: calc(var(--animate-duration)* 0.75);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 15s; /* Repetir cada 15 segundos */
    animation-delay: 15s; /* Repetir cada 15 segundos */
}