/* index main*/
.Portada-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
// parrafo del index
.parrafoindex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 790px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
// animacion index
.animate__bounceIn {
    -webkit-animation-duration: auto;
    animation-duration: .75s;
    -webkit-animation-duration: calc(var(--animate-duration)* 0.75);
    animation-duration: calc(var(--animate-duration)* 15);
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}
.animate__zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: calc(var(--animate-duration)* 2);
    animation-duration: calc(var(--animate-duration)* 10);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;  
}
// parrafofechaestilos
.parrafofechas {
    text-align: center;
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}