

/*Estilo del footer */
footer {
    background-color: #ececec;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra */
    opacity: 0.6;
    /* Opacidad del footer */
    padding: 1px 1px;
    margin: 0 auto;
    max-width: 900px;
    /* Establecer un ancho máximo */

}

h6 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding: 10px;
}

.redes-y-canales-logos {
    display: flex;
    /* Mostrar los logos en línea */
    justify-content: space-around;
    /* Espaciado uniforme entre los logos */
    align-items: center;
    /* Centrar verticalmente los logos */

}

.redes-y-canales-logos img {
    width: 35px;
    /* Establecer el ancho deseado para los logos */
    height: auto;
    /* Mantener la proporción de aspecto */
    margin: 0 10px;
    /* Espacio entre los logos */
    transition: opacity 0.3s;
    /* Agregamos una transición suave */
    opacity: 0.6;
    /* Inicialmente establecemos la opacidad */
}

.redes-y-canales-logos img:hover {
    opacity: 1;
    /* Al pasar el cursor, los logos vuelven a ser completamente opacos */
}



/* index main*/
.Portada-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Ajusta el margen superior según sea necesario */
}

/* Biografia */
#Imagen-Biografia01,
#Imagen-Biografia02 {
    max-width: 50%;
    /* Establece el ancho máximo al 100% del contenedor padre */
    height: auto;
    /* Mantiene la proporción de aspecto */
    display: block;
    /* Hace que la imagen sea un bloque para centrarla horizontalmente */
    margin: auto;
    /* Centra la imagen horizontalmente */

}

/* Estilos para el formulario */
.Contrataciones {
    font-family: 'Inter', sans-serif;
    max-width: 450px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.Contrataciones h1 {
    font-family: 'Six Caps', sans-serif;
    text-align: center;

}

.fondocontrataciones {
    background-image: url('../Resources/img/fondo-contrataciones.jpg');
    /* Especifica la ruta de la imagen que deseas utilizar como fondo */
    background-size: cover;
    /* Ajusta la imagen para que cubra todo el área del elemento */
    background-position: center;
    /* Centra la imagen en el elemento */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    padding: 20px;
    /* Ajusta el relleno según sea necesario */
}

/* Formulario */
label,
input,
textarea {
    font-family: 'Tauri', sans-serif;
    display: block;
    margin-bottom: 0px;
    width: 100%;

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 16px);
}

input[type="submit"] {
    background-color: #101110d5;
    /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #b3b3b3;
}

/* Estilo Discografia */
.Discografia {
    display: flex;
    justify-content: space-between;
    /* Distribuye las listas de reproducción de manera uniforme */
}

.playlist {
    width: 45%;
    /* Establece el ancho de cada lista de reproducción */
    margin: 10px;
    /* Añade un pequeño margen entre las listas de reproducción */
}

h2 {
    text-align: center;
    /* Centra el texto dentro de cada lista de reproducción */
    flex: 1;
    /* Hace que los títulos ocupen el mismo espacio */
}

/* Estilo de integrantes e imagenes + GRID */

.Integrantes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas con igual ancho */
    gap: 20px;
    /* Espacio entre las celdas */

}

.integrante {
    border: 1px solid #ccc;
    /* Borde para visualizar las celdas */
    padding: 20px;
    /* Espaciado interno */
    text-align: center;
    /* Centrar el contenido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra */
    border-radius: 50px;
    /* Corrección en la unidad de medida */
    background-color: #d9d9d9;
}

/* Estilos para las imágenes */
.integrante img {
    max-width: 80%;
    /* Ajustar la imagen al ancho del contenedor */
    border-radius: 50%;
    /* Bordes redondeados para imágenes circulares */
}

.integrante h4 {
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif !important;
    /* Aquí se corrige la sintaxis */
    font-style: normal;
}

.integrante p {
    font-family: "Bebas Neue", sans-serif;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    font-weight: bold;
    /* Hacer el texto negrita */

}


/* Aca tengo que hacer las Medias Querrys */
/* Responsive - Mobile Last => Max-width => De Mayor a menor */

/* Mobile */
@media (max-width: 375px) and (max-height: 428px) {
    .Integrantes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    h4,
    p {
        font-size: 14px;
    }

    .Discografia {
        display: flex;
        flex-direction: column;
    }

    .playlist {
        width: 100%;
    }
}

/* Tablet */
@media (max-width: 768px) and (max-height: 1000px) {
    .Integrantes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    h4,
    p {
        font-size: 16px;
    }

    .Discografia {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    
    }

    .playlist {
        width: 50%;
    }
}



   
