/* Estilos del menú */
.navbar {
    display: flex;
    text-align: center;
    font-family: $fuentemenu;
    font-size: 25px;
    flex-direction: column;
    background-color: $colorfondonav !important;
    border-radius: 20px;
    padding: 10px;
    /* margin-left: 50px; */    
    color: #333;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    // opacity: 0.6;
    margin-bottom: 25px
}
    


