/*Estilo del footer */
footer {
    background-color:$colorfondofooter;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra */
    opacity: 0.6;
    /* Opacidad del footer */
    padding: 1px 1px;
    margin: 0 auto;
    max-width: 900px;
    /* Establecer un ancho máximo */

}