/* Tipografias */
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Workbench&display=swap');

$fuentemenu: 'Six Caps', Impact, 'Arial Narrow Bold', sans-serif;
$fuenteh1: 'Six Caps', Impact;
$fuenteh6: "Bebas Neue", sans-serif;
$fuentep:"Bebas Neue", sans-serif;
$fuenteh4:'Six Caps',
